---
---

{% include header.html title="Contact Me" location="contact" %}


<h1>
    Other sites that may be of interest:
</h1>

<h3>Shoes</h3>

<a class="linkpage" href="http://www.marshahall.com/" target="_blank">
    <div class="linkpage">
        Marsha Hall - Handmade Bespoke Shoes
        <br />
    </div>
</a>

<h3>Hats</h3>

<a class="linkpage" href="http://www.miriamrobertson.com/" target="_blank">
    <div class="linkpage">
        Miriam Robertson - Millinery
        <br />
    </div>
</a>

<a class="linkpage" href="http://www.jenniferlevethats.co.uk/" target="_blank">
    <div class="linkpage">
        Jennifer Levet Hats
        <br />
    </div>
</a>

<h3>Wedding Rings & Jewellery</h3>

<a class="linkpage" href="http://www.hannahpeters.co.uk//" target="_blank">
    <div class="linkpage">
        Hannah Peters - Handmade wedding rings and silver jewellery
        <br />
    </div>
</a>

<a class="linkpage" href="http://www.embroideredjewellery.co.uk/" target="_blank">
    <div class="linkpage">
        Caroline Homfray - Embroidered Jewellery
        <br />
    </div>
</a>

<a class="linkpage" href="http://aurumjewellers.com/our-products/wedding-rings/" target="_blank">
    <div class="linkpage">
        Bespoke wedding rings
        <br />
    </div>
</a>

<a class="linkpage"
   href="http://www.craftmarketcorner.co.uk/necklaces-pendants-c-28_194_198.html"
   target="_blank">
    <div class="linkpage">
        Fashion Jewellery on Craft Market Corner
        <br />
    </div>
</a>

<h3>China Hire</h3>

<a class="linkpage" href="http://www.vintagefloralteas.co.uk/"
   target="_blank">
    <div class="linkpage">
        Vintage Floral Teas - Vintage China hire with Sustainable Floristry
        <br />
    </div>
</a>

<a class="linkpage" href="http://www.rustymayfair.blogspot.com/" target="_blank">
    <div class="linkpage">
        Kerrie Mcgowan - Vintage China Hire
        <br />
    </div>
</a>

<h3>Creative Decoration</h3>

<a class="linkpage" href="http://www.darvalldesign.com/" target="_blank">
    <div class="linkpage">
        Katie Darvall - Creative Decoration
        <br />
    </div>
</a>

<h3> Sweets </h3>

<a class="linkpage" href="http://www.touchesofelegance.co.uk/" target="_blank">
    <div class="linkpage">
        Touches of Elegance - Sweets for Weddings
        <br />
    </div>
</a>

<h3> Photography </h3>

<a class="linkpage" href="http://www.marieohara.co.uk/" target="_blank">
    <div class="linkpage">
        Marie O'Hara - Photography
        <br />
    </div>
</a>

<a class="linkpage" href="http://www.klkphotography.co.uk/" target="_blank">
    <div class="linkpage">
        Kate Kershaw - Photography
        <br />
    </div>
</a>

<a class="linkpage" href="http://www4.clikpic.com/sebastianlomas/gallery_274506.html"
   target="_blank">
    <div class="linkpage">
        Sebastian Lomas - Photography
        <br />
    </div>
</a>

<a class="linkpage" href="http://www.flickr.com/photos/nickscottphotography/sets/"
   target="_blank">
    <div class="linkpage">
        Nick Scott - Photography
        <br />
    </div>
</a>

<h3> Flowers </h3>

<a class="linkpage" href="http://www.fleurescent.co.uk/" target="_blank">
    <div class="linkpage">
        Fleurescent - Wedding Flowers
        <br />
    </div>
</a>

<h3> Cakes </h3>
<a class="linkpage" href="http://www.flissycakes.com/" target="_blank">
    <div class="linkpage">
        Flissy Cakes - Wedding Cakes
        <br />
    </div>
</a>

<br />
<br />
<br />


{% include footer.html %}
