<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="{{ site.baseref }}" />
    <link href="site.css" rel="stylesheet" type="text/css" />

    {% if page.extrastyle %}
    <link href="{{ page.extrastyle }}" rel="stylesheet" type="text/css" />
    {% endif %}

    <title>{{ page.title }}</title>

    <meta name="description" content="Felicity is a Bespoke Wedding Dressmaker with more than 10 years experience making one-off dresses from design to completion." />

    {% if page.extrascript %}
    <script src="{{ page.extrascript }}" type="text/javascript"></script>
    {% endif %}

  </head>

  {% if page.onload %}
  <body onload="{{ page.onload }}">
  {% else %}
  <body>
  {% endif %}

    <div class="bar">

      {% if page.location == 'home' %}
      <span class="nolink">
        Home
      </span>
      {% else %}
      <a href="index.html" title="Felicity Westmacott - Bespoke Dress Maker">
        Home
      </a>
      {% endif %}


      {% if page.location == 'gallery' %}
      <span class="nolink">
        Gallery
      </span>
      {% else %}
      <a href="portfolio/portfolio.html" title="Pictures of Happy Clients">
        Gallery
      </a>
      {% endif %}


      {% if page.location == 'thanks' %}
      <span class="nolink">
        Testimonials
      </span>
      {% else %}
      <a href="thankyous.html" title="Testimonials and Thank You messages">
        Testimonials
      </a>
      {% endif %}


      {% if page.location == 'ordering' %}
      <span class="nolink">
        F.A.Q.
      </span>
      {% else %}
      <a href="ordering.html" title="Ordering your Bespoke Wedding Dress">
        F.A.Q.
      </a>
      {% endif %}


      {% if page.location == 'contact' %}
      <span class="nolink">
        Contact
      </span>
      {% else %}
      <a href="contact.html" title="Contact details and about me">
        Contact
      </a>
      {% endif %}


      {% if page.location == 'links' %}
      <span class="nolink">
        Links
      </span>
      {% else %}
      <a href="links.html" title="Links to other sites">
        Links
      </a>
      {% endif %}


      {% if page.location == 'fb' %}
      <span class="nolink">
        Facebook
      </span>
      {% else %}
      <a href="http://www.facebook.com/pages/Felicity-Westmacott-Bespoke-Dressmaker/33628074097" title="Visit me on Facebook" target="_blank">
        Facebook
      </a>
      {% endif %}

    </div>

<!-- Header End -->
