{"Theme"
 (["all" "All"]
  ["vint" "Vintage"]
  ["hist" "Historical"]
  ["cont" "Contempory"]
  ["trad" "Traditional"]
  ["spec" "Spectacular &amp; wild"]
  ["simp" "Simple and unadorned"]
  ["inform" "Informal wedding"]
  ["spar" "Lots of sparkle"]
  ["colour" "Coloured wedding dresses"]),
 "Category"
 (["all" "All"]
  ["bride" "Bride"]
  ["bmaid" "Bridesmaid"]
  ["mother" "Mother of the Bride"]
  ["kids" "Children &amp; Babies"]
  ["matern" "Maternity"]
  ["men" "Menswear"]
  ["prom" "Evening &amp; Prom"]
  ["theatre" "Theatrical Costume"]
  ["bolero" "Boleros, Jackets, Coats"]
  ["tiara" "Tiaras, Jewellry"]
  ["veil" "Veils &amp; Fascinators"]
  ["beading" "Embroidery &amp; Beading"]
  ["under" "Underwear &amp; Corsets"]
  ["bags" "Bags &amp; Shoes"]
  ["restyle" "Alteration &amp; Restyling"]),
 "Detail"
 (["all" "All"]
  ["wstraps" "With Straps"]
  ["nostraps" "Strapless"]
  ["halter" "Halterneck"]
  ["offshould" "Off the shoulder"]
  ["high" "High/Boatneck"]
  ["sweet" "Sweetheart"]
  ["square" "Square/Straight across"]
  ["round" "Round"]
  ["cowl" "Cowl"]
  ["vneck" "V-neck"]
  ["over" "Crossover"]
  ["asym" "Asymmetric"]
  ["collar" "Collar/Lapel"]
  ["cap" "Short/cap"]
  ["quarter" "Three quarter"]
  ["long" "Long"]
  ["medieval" "Medieval"]
  ["puffed" "Gathered/puffed"]
  ["cuffs" "with buttons/cuffs"]
  ["lowback" "Backless/low back"]
  ["laceup" "Lace-up/corset"]
  ["buttons" "Buttons and loops"]
  ["zip" "Zip"]
  ["wing" "Wings"]
  ["sash" "with sash"]
  ["nobone" "Un-boned"]
  ["lightbone" "Lightly boned"]
  ["firmbone" "Firmly boned"]
  ["empire" "Empire line - high waisted"]
  ["princess" "Princess line"]
  ["dropped" "Dropped waist"]
  ["loose" "Loose fit"]
  ["two" "Bodice &amp; Skirt ensemble"]
  ["aline" "A-line"]
  ["fish" "Fishtail"]
  ["pencil" "Pencil"]
  ["straight" "Straight"]
  ["flow" "Full &amp; flowy/drapey"]
  ["full" "Full and puffy/wide"]
  ["cloud" "Cloud"]
  ["hoop" "With hoop"]
  ["split" "With split"]
  ["short" "Short"]
  ["midi" "Midi"]
  ["floor" "Floor length"]
  ["notrain" "No train"]
  ["puddle" "Tiny/Puddle train"]
  ["chapel" "Medium/Chapel train"]
  ["cathedral" "Long/Cathedral train"]
  ["bias" "Bias cut"]
  ["pleats" "Pleats"]
  ["layers" "Layers"]
  ["ruched" "ruching"]
  ["peplum" "Peplum"]
  ["water" "Waterfall"]),
 "Colour"
 (["all" "All"]
  ["silver" "Silver"]
  ["white" "White"]
  ["ivory" "Ivory"]
  ["cream" "Cream"]
  ["gold" "Gold"]
  ["brown" "Coffee/Brown"]
  ["black" "Blacks &amp; greys"]
  ["blue" "Blues"]
  ["purple" "Purple &amp; lilacs"]
  ["pink" "Pinks"]
  ["red" "Reds"]
  ["orange" "Orange &amp; Yellow"]
  ["green" "Greens"]
  ["turq" "Turquoise"]
  ["multi" "Multi-colour"]),
 "Fabric"
 (["all" "All"]
  ["silk" "Silk"]
  ["man" "Man-made"]
  ["satin" "Satin"]
  ["taffeta" "Taffeta"]
  ["chiffon" "Chiffon/Organza/Georgette"]
  ["lacefab" "Lace"]
  ["tulle" "Tulle/Net"]
  ["embroid" "Embroidered/Beaded"]
  ["velvet" "Velvet"]
  ["brocade" "Brocade"]
  ["dupion" "Dupion"]
  ["bellish" "Embellished"]
  ["corsage" "Corsage/Flowers"]
  ["swar" "Swarovski"])}
