---
layout: portfolio
extrascript: portfolio/portfolio.js
extrastyle: portfolio/portfolio.css
onload: initialise()
title: Gallery
location: gallery

---


<div class="contain" id="scrollable">
    <div class="note">
        Pictures are usually added 6-12 months after the occasion.
    </div>

{% for client in site.data.portfolio %}{% if client.label %}<div class="divider"><img src="graphics/div{{ client.label }}.png" /></div>{% elsif client.link %}<div class="filterable all {{ client.classes }}"><a class="client" href="portfolio/{{ client.link }}"><img class="faded" src="{{ site.baseimageref }}images/{{ client.tt }}" /></a></div>{% endif %}{% endfor %}

</div>


<div class="under">
  <div class="filter">
    Show:
    <select onchange="filterBy(this.options[this.selectedIndex].value);" id="filtration">

      {% for filter in site.data.filters %}
        <optgroup label="{{ filter.label }}">
          {% for option in filter.options %}
            <option value="{{ option.value }}">{{ option.label }}</option>
          {% endfor %}
        </optgroup>
      {% endfor %}

    </select>
  </div>
</div>
